h1,
h2,
h3 {
  text-align: center;
}

header {
  width: 100%;
  border: 10px solid darkblue;
  background-color: lightblue;
}

section {
  height: 400px;
  width: 80%;
  margin: 30px auto;
  border: 10px solid black;
}


/* Absolute positioning */

#absolute-box{
  position: absolute;
  top:50px;
  bottom:100px;
}


/* Relative positioning */
#absolute-section{
  position: relative;
}

#relative-box{
  position: relative;
  left:200px
}




/* Fixed positioning */
#fixed-box{
 position: fixed;
 top:0px;
right: 0px;
}